---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="About | Easybank">
  <main>
    <section class="flex justify-center items-center h-screen">
      <h1 class="text-5xl text-black">about</h1>
    </section>
  </main>
</BaseLayout>
