---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="About | Easybank">
  <section class="flex justify-center items-center h-screen">
    <h1 class="text-5xl text-black">contact</h1>
  </section>
</BaseLayout>
