---
import "@fontsource-variable/public-sans";
import Navbar from "../sections/navbar.astro";

interface Props {
  title: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Easybank</title>
  </head>
  <body class="bg-lotionwhite">
    <header class="relative z-10">
      <Navbar />
    </header>
    <slot />
  </body>
</html>
